$containerWidth: 1130px;

$pc: $containerWidth; // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 899.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 647.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S